* {
    box-sizing: border-box;
}
html,
body,
.container {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
}

.parallax {
    overflow: hidden;
    position: fixed;
    //image-rendering: pixelated;
    .bg {
        width: 200%;
        height: 100vh;
        background-size: 30%;
        bottom: 0;
        left: 0;
        position: fixed;
    }

    .sky {
        background: url("../../Assets/img/bg/Pale/sky_pale.png") repeat 0 0;
        z-index: -1;
        animation: slide 100s linear infinite;
    }

    .backhouses {
        background: url("../../Assets/img/bg/Pale/houses3_pale.png") repeat-x 0 bottom;
        z-index: -2;
        animation: slide 100s linear infinite;
    }

    .front-houses2 {
        background: url("../../Assets/img/bg/Pale/houses2_pale.png") repeat-x 0 bottom;
        z-index: -3;
        animation: slide 100s linear infinite;
    }

    .front-houses1 {
        background: url("../../Assets/img/bg/Pale/houses1_pale.png") repeat-x 0 bottom;
        z-index: -4;
        animation: slide 100s linear infinite;
    }

    .road {
        background: url("../../Assets/img/bg/Pale/road_pale.png") repeat-x 0 bottom;
        z-index: -5;
        animation: slide 90s linear infinite;
    }

    .crosswalk {
        background: url("../../Assets/img/bg/Pale/crosswalk_pale.png") repeat-x 0 bottom;
        z-index: -6;
        animation: slide 100s linear infinite;
    }

    @keyframes slide {
        from { transform: translateX(0); }
        to { transform: translateX(-30%); }
    }
}

.drone {
    height: 48px;
    width: calc(384px / 8);
    background-image: url("../../Assets/img/drone-sprite-walk-2.png");
    animation: sprite 1.5s steps(8) infinite, descending infinite linear 5s 15s;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%) scale(3);

    @keyframes sprite {
        to {
            background-position-x: 384px;
        }
    }
}

    // @keyframes descending{
    //     from{transform:translateY(0%) scale(3)
    //     }
    //     to{
    //         transform:translateY(700%) scale(3)
    //     }
    // }
