* {
    box-sizing: border-box;
}

html,
body,
.container {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}

.parallax {
    overflow: hidden;
    position: fixed;

    .score {
        color: red;
        font-size: 30px;
        position: fixed;
        top: 20px;
        left: 30px;
        z-index: 23;
    }

    //image-rendering: pixelated;
    .bg {
        width: 200%;
        height: 100vh;
        background-size: 30%;
        bottom: 0;
        left: 0;
        position: fixed;
    }

    .sky {
        background: url("../../Assets/img/bg/Pale/sky_pale.png") repeat 0 0;
        z-index: -1;
        animation: slide 100s linear infinite;
    }

    .backhouses {
        background: url("../../Assets/img/bg/Pale/houses3_pale.png") repeat-x 0 bottom;
        z-index: -2;
        animation: slide 100s linear infinite;
    }

    .front-houses2 {
        background: url("../../Assets/img/bg/Pale/houses2_pale.png") repeat-x 0 bottom;
        z-index: -3;
        animation: slide 100s linear infinite;
    }

    .front-houses1 {
        background: url("../../Assets/img/bg/Pale/houses1_pale.png") repeat-x 0 bottom;
        z-index: -4;
        animation: slide 100s linear infinite;
    }

    .road {
        background: url("../../Assets/img/bg/Pale/road_pale.png") repeat-x 0 bottom;
        z-index: -5;
        animation: slide 90s linear infinite;
    }

    .crosswalk {
        background: url("../../Assets/img/bg/Pale/crosswalk_pale.png") repeat-x 0 bottom;
        z-index: -6;
        animation: slide 100s linear infinite;
    }

    .ostacle_top {
        background: url("../../Assets/img/obstacles/smog.png") repeat-x top;
        z-index: 10;
        width: 200%;
        height: 300px;
        background-size: 30%;
        top: 0;
        left: 0;
        position: fixed;
        animation: slide 10s linear infinite;
    }

    .ostacle_bottom {
        background: url("../../Assets/img/obstacles/lamps_cars.png") repeat-x 0 bottom;
        z-index: 10;
        width: 200%;
        height: 300px;
        background-size: 30%;
        bottom: 0;
        left: 0;
        position: fixed;
        animation: slide 5s linear infinite;
    }

    @keyframes slide {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-30%);
        }
    }
}

:root {
    --y: 0;
}

.drone {
    height: 48px;
    width: calc(384px / 8);
    background-image: url("../../Assets/img/drone-sprite-walk-2.png");
    // animation: sprite 1.5s steps(8) infinite, descending infinite linear 5s 15s;
    animation: sprite 1.5s steps(8) infinite;

    position: absolute;
    top: 50%;
    left: 10%;

    // transform: translate(-50%, -50%) scale(2) translateY(var(--y));
    // transition: transform 6s linear;
    transform: translate(-50%, -50%) scale(2);

    @keyframes sprite {
        to {
            background-position-x: 384px;
        }
    }
}

// @keyframes descending{
//     from{transform:translateY(0%) scale(3)
//     }
//     to{
//         transform:translateY(700%) scale(3)
//     }
// }