.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputbox {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 2rem;
}

.nes-icon {
    margin: 2rem 1rem;
}


.Welcome {
    flex-direction: column;
    height: 800px;
}